body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10;
    padding: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("log1.jpg");
    background-size: 100%;
}

#login-form {
    background-color: #fbf8fc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #070707;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #e81b1b;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0ca83b;
} 